*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Dosis', sans-serif;
    background: rgb(22, 22, 22);
}

.profil {
    display: table;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.profil-img{
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.profil-name{
    padding: 0;
    color: white;
    font-size: 18px;
    display: table;
    margin: 10px auto;
    border-bottom: 1px double rgb(119, 110, 110);
}

.profil-name:hover{
    background: salmon;
    color: black;
}
.links{
    margin: 0 auto;
    position: relative;
    display: table;
    color: white;
}

.links a{
    color: white;
    text-decoration:none;
    font-size: 18px;
}
.links a:hover{
    background: salmon;
    color: black;
}

.exper {
    color: white;
    width: 40%;
    margin: 20px auto;
}

.exper .title{
    line-height: 24px;
    letter-spacing: 1px;
}

.exper .title h4{
    display: table;
    color: salmon;
}

.exper-card {
    padding:10px;
}

.exper-conten {
    margin-top: 2px;
    letter-spacing: 1px;
}

.skills {
    margin-top: 5px;
    display: block;
    position: relative;
}


.skill-lst {
    display: inline-block;
    margin-top: 10px;
    line-height: 20px;
    background: rgb(9, 137, 241);
    color: black;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    position: relative;
    font-weight: bold;
}

.projects {
    margin-top: 10px;
    letter-spacing: 1px;
}

.email {
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    right: 20px;
    background: salmon;
    color:black;
    letter-spacing: 1px;
}
.email:hover {

}